footer{
height: 100%;
width: 100%;
padding: 2px 0px 0px 0px;
background-color: rgb(3, 165, 43);
color: white;
font-family: 'Open Sans', sans-serif;
}

.columna1 img{
margin-left: 1%;
margin-top: 1%;
width: 5%;
}

.columna2{
height: 30px;
padding-bottom: 3%;
padding-left: 40%;
display:flex;
align-items: center;
}

.columna3{
display: flex;
height: 60px;
margin-left: 40%;
}
 
.columna3 img{
float: left;
height: 100%;
width: 30%;
}