:root{
    --letrasTitulo:1em;
    --colorIni1:#006d77;
}

*{
    margin: 0;
    padding: 0;
}


/* parte de la seccion del header */
header{
    width: 100%;
    background-color: #006d77;
}


 /* seccion de busqeuda */
.primeraSeccion{
    display: flex;
    width: 100%;
}

.contentimagesLogo{
    padding-top: 1%;
    padding-left: 2%;
    width: 95px;
    text-align: center;
}

.contentimagesLogo img{
    display: inline-block;
    width: 100%;
    
}

.opcionesNav{
    
    width: 70%;
    display: grid;
    grid-template-columns: 50% 30%;
    align-items: center;
    justify-content: center;
   
   
   
}
/* .Opciones{
    width: 70%;
}

.Opciones ul li{
    color: rgb(255, 255, 255);
    padding: 15px 22px;
    width: 10%;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Signika Negative', sans-serif;

}
.Opciones{
    padding-top: 1%;
    display: flex;
} */

.opcionesNav div form {
   
    display: flex;
    justify-content: center;
}



.opcionesNav div form Button{
    background-color: #83c5be;
    border-color: #006d7700;
    border-radius: 4%;
    width: 15%;

}
.opcionesNav div form input{
    width: 80%;
    border-radius: 4px;
    outline: none;
    border: 1px solid transparent;
    padding: 5px 0 5px 0;
    display: inline-block;
}
 
.registroIngresar{
   
    width: 70%;
  
}

.registroIngresar ul {
  padding-top: 1%;
    display: flex;
    justify-content: flex-end;
    
   
}

.registroIngresar li a {
    color: rgb(255, 255, 255);
   
}

.registroIngresar ul li {
    background-color:#03beac00;
    border: 1px solid #53837e00;
    color: rgb(255, 255, 255);
    padding: 15px 2px;
    width: 10%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Signika Negative', sans-serif;
    
}
/*


.registroIngresar ul li:hover{
    background-color: #1b971f; 
    border: 1px solid green;
}

.registroIngresar ul{
    width: 00%;
}
 */

/* nave de secciones */
header nav{
    border: 1px solid rgba(0, 0, 0, 0.144);
    width: 100%;
}

header nav ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
}


/* quotar los botones de las listas */
.nave ul li{
    width: 100%;
    text-align: center;
    list-style: none;
    border: 1px solid rgba(207, 207, 207, 0.226);
    cursor: pointer;
    padding: 10px 0 10px 0;
    
}

.nave ul li:hover{

  background-color: cadetblue;
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Source Serif Pro', serif;
    text-shadow: #83c5be;
}