:root{
    --letrasTitulo:1em;
    --colorIni1:rgba(0, 0, 255, 0.404);
}

*{
    margin: 0;
    padding: 0;
}


/* parte de la seccion del header */
header{
    border: 1px solid red;
    width: 100%;
    background-color: var(--colorIni1);
}

 /* seccion de busqeuda */
.primeraSeccion{
    border: 1px solid red;
    display: flex;
    width: 100%;
}

.contentimagesLogo{
    border: 1px solid red;
    width: 20%;
    text-align: center;
}

.contentimagesLogo img{
    width: 100%;
    
}

.opcionesNav{
    border: 1px solid green;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 49%;

}

.opcionesNav div form input{
    width: 100%;
}

.registroIngresar{

    border: 1px solid red;
}

/* nave de secciones */
header nav{
    border: 1px solid rgb(0, 0, 0);
    width: 100%;
}

header nav ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
}


/* quotar los botones de las listas */
li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}