:root{
    --colorIni1:#006d77;
    --colorSec2: #83c5be;
    --colorTerc3: #edf6f9;
    --colorfour4: #ffddd2;
    --colorfive5: #e29578;
}
body{
    font-family: 'Mukta', sans-serif;
    box-sizing: border-box;
    background-color: #edf6f9;
}

.flex-center{
    display: flex;
    justify-content: center;
}

h1{
    padding-top: 20px;
    font-size: 4vw;
    color: var(--colorIni1);
}

.cuerpo{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 90%;
    margin: 5%;
    grid-gap: 80px;
}

.cuerpo figure{
position:relative;
height: 390px;
cursor: pointer;
width: 350px;
overflow:hidden;
border-radius: 6px;
border: black solid 1px;

}

.cuerpo figure img{
    
width: 100%;
height: 100%;
transition: all 400ms ease-out;
will-change: transform;

}

.cuerpo figure .informacion{
position: absolute;
top: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.945);
transition: all 700ms ease-out;
opacity: 0;
visibility: hidden;
text-align:left;
}

.cuerpo figure:hover > .informacion {
    opacity: 1;
    visibility: visible;
}

.cuerpo figure:hover > .informacion h3{
    margin-top: 70px;
    margin-bottom: 15px;
    text-align: center;
}



.cuerpo figure:hover > img{
    transform: scale(1.1);
}

.cuerpo figure .informacion h3{
color: #fff;
font-weight: 400;
margin-bottom: 120px;
transition: all 400ms ease-out;
margin-top: 30px;
}

.cuerpo figure .informacion p{
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 300px;
    margin: auto;
}


.containerf{
    display: flex;
    justify-content: center;
}

.card{
border: 2px solid black;
width: 100%;
padding: 10px;
display: flex;
justify-content: center;
}

.card-body{
    width: 100%;
    text-align: center;
    padding:5px;

}

.card-body input{
    padding: 5px;
}

.card-body label{
    padding: 5px;
    font-size: 20px;
}


.card-body  div{
 background-color: white;
 width: 100%;
 display: flex;
 justify-content: space-between;
    padding-bottom: 5px;
}
html,body{
    width: 100%;
    min-height: 100vh;
}
.custom-card{
    max-width: 500px;
}

.card-icon{
    font-size: 100px;
}


.contacto{
    display: flex;
   position: relative;
    justify-content: center;
}

.form{
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
    
}

.spac{
    position: relative;
    font-size: 100%;
    padding-top: 8%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    border-radius: 10px;
    
}


.buton{
    padding-top: 10%;
    padding-bottom: 10%;

}

.btn {
    width: 50%;
   color: #006d77;
   border: 1px solid var(--colorSec2);
}

.spac input{
    font-family: 'Mukta', sans-serif;

    width: 100%;
    height: 30px;
    border-radius: 6px;
    border: 1px solid var(--colorSec2);
    font-size: 100%;
}

.buton button:hover{
    background-color: var(--colorSec2);
    color: white;
}
.txt textarea{
    font-family: 'Mukta', sans-serif;
    border-radius: 6px;
    border-color: var(--colorSec2);
    font-size: 100%;
}

.inpu{
    font-family: 'Mukta', sans-serif;
    padding-top: 5%;
    padding-bottom: 3%;
}

