:root{
  
  --colorIni1:#006d77;
  --colorSec2: #83c5be;
  --colorTerc3: #edf6f9;
  --colorfour4: #ffddd2;
  --colorfive5: #e29578;
}
*{
  margin: 0;
  padding: 0;
  
}


body{
    background-color: #EDF6F9;
}

/* slider */

main{
  width: 100%;
}


.texto-encima{
width: 10%;
display: flex;
 text-transform: uppercase;
  color: rgb(0, 0, 0);
  font-size: 45px;
  position: absolute;
  top: 20px;
  left: 70px;
  font-family: 'Signika Negative', sans-serif;
 
}

.slider{
width: 100%;
height: 300px;
overflow: hidden;
}

.slider ul{
  position: relative;
  display: flex;
  animation: cambio 40s infinite alternate;
  width: 400%;
}

.slider li{
  width: 100%;
  list-style: none;
}

.slider img{
  width: 100%;
  height: 50%;
  
}
@keyframes cambio{
  0%{margin-left: 0%;}
  25%{margin-left: 0%;}
  
  35%{margin-left: -100%;}
  45%{margin-left: -100%;}
  
  50%{margin-left: -200%;}
  70%{margin-left: -200%;}
  
  75%{margin-left: -300%;}
  100%{margin-left: -300%;}
}
@media only screen and (min-width:320px) and (max-width:468px){
.slider, .slider ul, .slider img{
  height: 100%;
}
} 
/* Recomendacion */
.Recomendacion{
  padding-top: 3%;
  padding-left: 1%;
  padding-right: 2%;
  display: flex;
 flex-direction: row;
  /* border: #006d77 4px solid; */

}
.picture {
  display: flex;
  justify-content: center;
  
} 
.picture img{
  width: 100%;
  
}

.off{
  padding-left: 5%;
  width: 60%;
  background-color: var(--colorSec2);
  /* border: var(--colorfive5) 4px solid; */
  border-radius: 6%;
  display: flex;  

}

.desc{
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  font-family: 'Mukta', sans-serif;
  
}
.testo{
  width: 70%;
  display: flex;
  flex-direction: column;
}
.porcentaje{
  padding-top: 15%;

}

.lets{
  padding-top: 20%;
  display: flex;
 
}

.desc h3{
  font-size: 25px;

}
.desc h2{
  color: white;
  font-size: 380%;
}
.off button{
  width: 80%;
  height: 35px;
  border-radius: 6px;
  background-color: var(--colorSec2);

}
.descount img{
  position: relative;
 width: 110%;
}
.descount{
  display: flex;
  padding-right: 10%;
  
}

/* container lo mas destacado---- */

.containerLoMasDestacado{
    width: 80%;
    margin: 0 auto;
    margin-top:60px ;
    background-color:#FFDDD2;
    text-align: center;
    flex: 0 1 calc(25% - 1rem);
    margin-bottom: 1rem;
    border: thin solid #000000;
      
}

h1{
    text-align: center;
    font-size: 30px;
}

.contenedorLibros{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contenedorLibros section{
    border: 1px solid rgb(29, 209, 29);
    border: 1px solid #E29578;
    width: 15%;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
}

.contenedorLibros section img{
    border-radius: 10px;
    height: 40vh;
    width: 100%;
}

.contenedorLibros section .contentinfo{
  border: 1px solid #FFDDD2;
  border-radius: 9px;
  padding-bottom: 5px;
}

.contenedorLibros section div div{
  
  padding: 3px;
  width: 100%;
  height: 20vh;
  border-radius: 0px 0px 10px 10px;



}

.contenedorLibros section div div h3{
    text-align: center;
    
}

.contenedorLibros section button{
    padding: 5px;
    width: 90%;
  
    background-color: #83c5be; 
  
    color: rgb(3, 1, 10);
    text-align: center;
 
   
    font-size: 20px;
 
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
}

.contenedorLibros section button:hover {
  background-color: #ffddd2; 
  color: #006d77;
}


